    <!DOCTYPE html>
    <html lang="ru">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>{{ title }}</title>

        <meta name="description" content="{{ description }}">


        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="https://compfort.pro/images/assets/og-image.jpg">


        <link rel="icon" href="/images/assets/favicon-256.ico" sizes="any">
        <link rel="icon" href="/images/assets/favicon-196.png" type="image/png">
        <link rel="apple-touch-icon" href="/images/assets/favicon-512.png">

        
        <link rel="stylesheet" href="/css/gemeral/reset.css">

        <link rel="stylesheet" href="/css/header/header.css">
        <link rel="stylesheet" href="/css/footer/footer.css">
        <link rel="stylesheet" href="/css/general/decorations.css">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        {% if customCSS %}
        <link rel="stylesheet" href="{{ customCSS }}">
        {% endif %}



        {% if not_main %}
        <meta name="robots" content="noindex, follow">
        {% endif %}



    </head>
    <script src="/js/decorations.js"></script>
    <body>

        {% include "header.html" %}

        {{ content }}

        {% if hideFooter != true %}
            {% include "footer.html" %}
        {% endif %}

        <script src="/js/header.js"></script>

        {% if customJS %}
        <script src="{{ customJS }}"></script>
        {% endif %}

    </body>
    </html>
