/*==================================================
                    RESET
==================================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Montserrat",sans-serif;

    background:#ffffff;

    overflow-x:hidden;

    color:#18212D;

}

/*==================================================
                    HERO
==================================================*/

.hero{

    position:relative;

    width:100%;

    min-height:980px;

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
        linear-gradient(
            to top,
            rgba(255,255,255,.96) 48%,
            rgba(255,255,255,.78) 58%,
            rgba(255,255,255,.30) 72%,
            rgba(255,255,255,0) 100%
        ),
        url("../images/hero/hero-bg.png");

    background-size:cover;

    background-position:center bottom;

    background-repeat:no-repeat;

}

/*==================================================
            CENTER GLOW
==================================================*/

.centerGlow{

    position:absolute;

    width:820px;

    height:820px;

    border-radius:50%;

    background:

    radial-gradient(circle,

    rgba(60,200,90,.12),

    rgba(60,200,90,.04),

    transparent 72%);

    left:50%;

    top:50%;

    transform:translate(-50%,-50%);

    z-index:5;

}

/*==================================================
                SVG
==================================================*/

.heroSvg{

    position:absolute;

    width:1500px;

    left:50%;

    top:50%;

    transform:translate(-50%,-50%);

    z-index:10;

    pointer-events:none;

}

/*==================================================
                PLANET
==================================================*/

.earth{

    position:absolute;

    width: 610px;

    left:50%;

    top:49%;

    transform:translate(-50%,-50%);

    z-index:20;

    filter:

        drop-shadow(0 0 35px rgba(20,120,60,.35))

        drop-shadow(0 0 90px rgba(20,120,60,.20));

    animation:planetFloat 8s ease-in-out infinite;

}

/*==================================================
                LOGO
==================================================*/

/*=============================
        LOGO TOP
=============================*/

.logoTop{

    position:absolute;

    left:340px;
    top:270px;

    display:flex;
    align-items:center;

    gap:0;

    z-index:30;
}
.logoTop::before{

    content:"";

    position:absolute;

    width:260px;

    height:260px;

    left:-40px;

    top:-70px;

    border-radius:50%;

    background:

        radial-gradient(circle,

        rgba(57,216,74,.10),

        transparent 70%);

    z-index:-1;

}
.logoTop::after{

    content:"";

    position:absolute;

    left:22px;

    bottom:-18px;

    width:170px;

    height:3px;

    background:#39D84A;

    border-radius:30px;

}





/*=============================
        LOGO BOTTOM
=============================*/


.logoBottom::before{

    content:"";

    position:absolute;

    width:260px;

    height:260px;

    right:-40px;

    top:-70px;

    border-radius:50%;

    background:

        radial-gradient(circle,

        rgba(57,216,74,.10),

        transparent 70%);

    z-index:-1;

}
.logoBottom::after{

    content:"";

    position:absolute;

    right:22px;

    bottom:-18px;

    width:170px;

    height:3px;

    background:#39D84A;

    border-radius:30px;

}

.logoBottom{

    position:absolute;

    right: 420px;
    bottom: 240px;

    display:flex;
    align-items:center;

    z-index:100;

}

/* ВСТАВИТЬ СЮДА ↓↓↓ */

.logoDark{

    font-family:"Exo 2",sans-serif;

    font-size:98px;

    font-weight:800;

    font-style:italic;

    letter-spacing:-4px;

    color:#18212D;

    line-height:1;

}

.logoO{

    font-family:"Exo 2",sans-serif;

    font-size:98px;

    font-weight:800;

    font-style:italic;

    letter-spacing:-4px;

    color:#39D84A;

    margin:0 -3px;

    text-shadow:
        0 0 12px rgba(57,216,74,.45),
        0 0 28px rgba(57,216,74,.30);

}


@keyframes greenGlow{

    0%{
        text-shadow:
            0 0 6px rgba(56,200,74,.8),
            0 0 16px rgba(56,200,74,.6),
            0 0 28px rgba(56,200,74,.35);
    }

    50%{
        text-shadow:
            0 0 10px rgba(56,200,74,1),
            0 0 24px rgba(56,200,74,.95),
            0 0 45px rgba(56,200,74,.75),
            0 0 80px rgba(56,200,74,.45);
    }

    100%{
        text-shadow:
            0 0 6px rgba(56,200,74,.8),
            0 0 16px rgba(56,200,74,.6),
            0 0 28px rgba(56,200,74,.35);
    }

}

/*======================================
        INFO BLOCKS
======================================*/

.info{

    position:absolute;

    z-index:40;

    transition:.35s;

}


.infoText h3{

    font-size:30px;

    font-weight:800;

    color:#18212D;

    margin-bottom:10px;

}

.infoText p{

    font-size:18px;

    line-height:1.6;

    color:#68717C;

}

.infoDot{

    width:16px;

    height:16px;

    border-radius:50%;

    background:#38C84A;

    box-shadow:
        0 0 10px #38C84A,
        0 0 30px rgba(56,200,74,.55);

}


.infoTop{

     top:115px;

    left:54%;

    transform:translateX(-50%);

}

.infoTop::before{

    width:2px;

    height:110px;

    left:-26px;

    top:16px;

}

.infoTop .infoDot{

    left:-36px;

    top:10px;

}


.infoLeft{

    left:130px;

    top:500px;

}



.infoLeft .infoDot{

    right:-35px;

    top:18px;

}


.infoRight{

    right:120px;

    top:500px;

    text-align:right;

}



.infoRight .infoDot{

    left:-35px;

    top:18px;

}


.infoBottom{

    left:54%;

    bottom:135px;

    transform:translateX(-50%);

}



.infoBottom .infoDot{

    left:-36px;

    top:-10px;

}



/*==================================================
                    CARDS
==================================================*/

.cards{

    width:1500px;
    max-width:94%;

    margin:-120px auto 80px;

    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:28px;

    position:relative;
    z-index:300;

}

.card{

    position:relative;

    height:280px;

    overflow:visible;

    transition:.45s;

    transform-origin:bottom center;

}
.card::before{

    content:"";

    position:absolute;

    left:0;
    top:0;

    width:100%;
    height:5px;

    background:linear-gradient(
        90deg,
        #32d74b,
        #57ff7d
    );

}
.card::after{

    content:"";

    position:absolute;

    right:-70px;

    top:-70px;

    width:170px;

    height:170px;

    border-radius:50%;

    background:

        radial-gradient(circle,

        rgba(56,200,74,.18),

        transparent 70%);

}
.card:hover{

    transform:translateY(-14px);

    box-shadow:

        0 40px 90px rgba(20,40,25,.18);

}

.card h2{

    font-size:24px;

    line-height:1.2;

    margin-bottom:22px;

    font-weight:800;

    color:#1B2432;

}

.card p{

    font-size:18px;

    line-height:1.8;

    color:#707B8D;

}

/*==================================================
                ANIMATIONS
==================================================*/

@keyframes planetFloat{

    0%{

        transform:translate(-50%,-50%);

    }

    50%{

        transform:translate(-50%,calc(-50% - 12px));

    }

    100%{

        transform:translate(-50%,-50%);

    }

}

/*==================================================
                RESPONSIVE
==================================================*/

@media(max-width:1500px){

    .heroSvg{

        width:1250px;

    }

    

}

@media(max-width:1200px){

    .cards{

        grid-template-columns:repeat(2,1fr);

        width:95%;

    }

    .hero{

        height:auto;

        min-height:100vh;

        padding-bottom:380px;

    }

    

}
@keyframes logoPulse{

    0%{

        transform:scale(1);

        text-shadow:

            0 0 8px rgba(57,216,74,.35),

            0 0 18px rgba(57,216,74,.25);

    }

    50%{

        transform:scale(1.03);

        text-shadow:

            0 0 14px rgba(57,216,74,.6),

            0 0 30px rgba(57,216,74,.45),

            0 0 60px rgba(57,216,74,.25);

    }

    100%{

        transform:scale(1);

        text-shadow:

            0 0 8px rgba(57,216,74,.35),

            0 0 18px rgba(57,216,74,.25);

    }

}

@media(max-width:768px){

    .heroSvg{

        width:900px;

    }

    .earth{

        width:260px;

    }

    

    .logoLeft{

        top:60px;

        left:0;

    }

    .logoRight{

        top:120px;

        right:0;

    }

    .label{

        display:none;

    }

    .cards{

        grid-template-columns:1fr;

    }

}
.aboutSection{

    min-height:10px;

    background:#ffffff;

}
/*==================================================
                LANDSCAPE
==================================================*/


/*==================================================
                TRACTOR
==================================================*/

.heroPhoto{

    position:absolute;

    left:0;
    right:0;
    bottom:0;

    width:100%;
    height:340px;

    z-index:3;

    background:
    linear-gradient(
        to top,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,.10) 25%,
        rgba(255,255,255,.35) 50%,
        rgba(255,255,255,.70) 72%,
        rgba(255,255,255,.92) 88%,
        #fff 100%
    ),
    url("../images/hero/hero-bg.png");

    background-size:115%;

    background-position:18% bottom;

    background-repeat:no-repeat;

    filter:
        saturate(1.08)
        contrast(1.03);

}
.connections{

    position:absolute;

    inset:0;

    width:100%;

    height:100%;

    pointer-events:none;

    z-index:18;

}

.connect{

    fill:none;

    stroke:#42d85b;

    stroke-width:2.5;

    stroke-linecap:round;

    opacity:.45;

    filter:drop-shadow(0 0 8px rgba(56,200,74,.45));

}
.cardIcon{

    width:72px;

    height:72px;

    margin-bottom:28px;

    border-radius:20px;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:34px;

    background:#EFFBF1;

    color:#31d455;

    box-shadow:

        0 10px 25px rgba(56,200,74,.18);

}
.cardContent{

    position:relative;

    z-index:2;

}

.short{

    transition:.35s;

}

.more{

    opacity:0;

    transform:

        translateY(25px);

    transition:

        opacity .45s,

        transform .45s;

}

.card:hover{

    transform:translateY(-20px) scale(1.06);

    min-height:390px;

}

.card:hover .more{

    opacity:1;

    transform:

        translateY(0);

}
.cardInner{

    position:absolute;

    left:0;

    right:0;

    bottom:0;

    height:280px;

    background:rgba(255,255,255,.92);

    backdrop-filter:blur(18px);

    border-radius:28px;

    padding:42px 34px;

    transition:.45s;

    box-shadow:
        0 25px 60px rgba(15,35,20,.12);

    /* Новое */
    overflow-y:auto;
    overflow-x:hidden;

    scrollbar-width:none;

}
.cardInner::-webkit-scrollbar{

    display:none;

}
.card:hover .cardInner{

    height:590px;

    transform:
        translateY(-340px)
        scale(1.05);

}
