/*==================================================

RESET / BOX MODEL

==================================================*/

*,
*::before,
*::after {
    box-sizing: border-box;
}


/*==================================================

IMAGES

==================================================*/

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/*==================================================

PAGE WIDTH

==================================================*/

html {
    width: 100%;
    min-width: 100%;
    overflow-x: clip;
}


body {
    width: 100%;
    min-width: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
}


/*==================================================

PAGE WRAP

==================================================*/

.pageWrap {
    position: relative;

    width: 100%;
    min-width: 0;

    margin: 0;
    padding: 0;

    overflow: hidden;
}